html {
font-size : 100%;
}
body {
margin : 0;
padding : 0;
font-size : 0.75em;
line-height : 1.231;
}
/*h1 { font-family: 'Gochi Hand', cursive;}*/
body, button, input, select, textarea {
font-family : 'GothamBook', Gotham, Helvetica, Arial, sans-serif;
color : #484848;
}

div#main {
margin : 0 0 32px 0;
width : 100%;
padding-top : 165px;
position : relative;
}
.centered{
position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -250px;

}

#mm-home #mm-home-landing .ctas {
left:0;
position:relative;
top:0;
padding-top:30px;
text-align:center;
-webkit-transition-property: opacity;
-webkit-transition-duration: 500ms;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-delay: 0;
-moz-transition-property: opacity;
-moz-transition-duration: 500ms;
-moz-transition-timing-function: ease-in-out;
-moz-transition-delay: 0;
-ms-transition-property: opacity;
-ms-transition-duration: 500ms;
-ms-transition-timing-function: ease-in-out;
-ms-transition-delay: 0;
-o-transition-property: opacity;
-o-transition-duration: 500ms;
-o-transition-timing-function: ease-in-out;
-o-transition-delay: 0;
transition-property: opacity;
transition-duration: 500ms;
transition-timing-function: ease-in-out;
transition-delay: 0;
z-index: 1;
}

.box-button{
letter-spacing:0.128em;
font-family:'proxima-nova', sans-serif;
font-weight:400;-webkit-font-smoothing:antialiased;
border:2px solid #fff;
color:#fff;
display:inline-block;font-size:1.3em;
font-weight:600;height:40px;line-height:40px;padding:0 38px;text-align:center;
text-decoration:none;text-transform:uppercase;-webkit-transition-property:all;
-webkit-transition-duration:100ms;
-webkit-transition-timing-function:linear;
-webkit-transition-delay:0;
-moz-transition-property:all;
-moz-transition-duration:100ms;
-moz-transition-timing-function:linear;
-moz-transition-delay:0;
-ms-transition-property:all;
-ms-transition-duration:100ms;
-ms-transition-timing-function:linear;
-ms-transition-delay:0;-o-transition-property:all;
-o-transition-duration:100ms;-o-transition-timing-function:linear;-o-transition-delay:0;
transition-property:all;transition-duration:100ms;transition-timing-function:linear;
transition-delay:0}

.box-button.fixed{padding:0}

.box-button:hover{
-webkit-transition-property:all;-webkit-transition-duration:100ms;
-webkit-transition-timing-function:linear;-webkit-transition-delay:0;-moz-transition-property:all;-moz-transition-duration:100ms;
-moz-transition-timing-function:linear;-moz-transition-delay:0;-ms-transition-property:all;-ms-transition-duration:100ms;
-ms-transition-timing-function:linear;-ms-transition-delay:0;-o-transition-property:all;-o-transition-duration:100ms;-o-transition-timing-function:linear;
-o-transition-delay:0;transition-property:all;transition-duration:100ms;transition-timing-function:linear;transition-delay:0;
background:#fff;box-shadow:0 1px 0 rgba(0,0,0,0.15);color:#8a4fab}

.box-button:active{-webkit-transition-property:none;-webkit-transition-duration:250ms;-webkit-transition-timing-function:linear;-webkit-transition-delay:0;-moz-transition-property:none;
-moz-transition-duration:250ms;-moz-transition-timing-function:linear;-moz-transition-delay:0;-ms-transition-property:none;-ms-transition-duration:250ms;
-ms-transition-timing-function:linear;-ms-transition-delay:0;-o-transition-property:none;-o-transition-duration:250ms;-o-transition-timing-function:linear;
-o-transition-delay:0;transition-property:none;transition-duration:250ms;transition-timing-function:linear;transition-delay:0;background:#8a4fab;
border-color:#8a4fab;box-shadow:0 0 0 rgba(0,0,0,0);color:#FFF;text-shadow:0 1px 0 rgba(0,0,0,0.15)}

.box-button-black{letter-spacing:0.128em;font-family:'proxima-nova', sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;background:#3a3532;color:#FFF;box-shadow:none;font-size:1.5em;font-weight:600;height:60px;line-height:60px;text-align:center;text-decoration:none;text-shadow:none;text-transform:uppercase;-webkit-transition-property:background;-webkit-transition-duration:100ms;-webkit-transition-timing-function:linear;-webkit-transition-delay:0;-moz-transition-property:background;-moz-transition-duration:100ms;-moz-transition-timing-function:linear;-moz-transition-delay:0;-ms-transition-property:background;-ms-transition-duration:100ms;-ms-transition-timing-function:linear;-ms-transition-delay:0;-o-transition-property:background;-o-transition-duration:100ms;-o-transition-timing-function:linear;-o-transition-delay:0;transition-property:background;transition-duration:100ms;transition-timing-function:linear;transition-delay:0}@media (min-width: 768px){.box-button-black:hover{background:#262220}}
.box-button-black:active{-webkit-transition-property:background;-webkit-transition-duration:0ms;-webkit-transition-timing-function:linear;-webkit-transition-delay:0;-moz-transition-property:background;-moz-transition-duration:0ms;-moz-transition-timing-function:linear;-moz-transition-delay:0;-ms-transition-property:background;-ms-transition-duration:0ms;-ms-transition-timing-function:linear;-ms-transition-delay:0;-o-transition-property:background;-o-transition-duration:0ms;-o-transition-timing-function:linear;-o-transition-delay:0;transition-property:background;transition-duration:0ms;transition-timing-function:linear;transition-delay:0;background:#8a4fab}
.box-button-wrapper{bottom:auto;left:auto;position:absolute;right:auto;text-align:center;top:auto;width:100%}